.aboutPageBox .aboutPageLeftBox,.aboutPageBox .aboutPageRightBox{
    float:left; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
}
.aboutPageBox .panel {
    width: 60%;
    height: 80%;
    margin: auto;
    position: relative;
    font-size: 1em;
}

.aboutPageBox .card {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    transition: all .5s;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: grey;
    color: white;
    display: flex; 
    justify-content: center; 
    text-align: left;
    align-items: center;
}
.aboutPageBox .cardDiv{
    width: 100%;
    height: 100%;
    /* display: flex; */
    position: relative;
    justify-content: center; 
    text-align: left;
    align-items: center;
}
.aboutPageBox #workDetails{
    height: 2px;
}

.aboutPageBox .front {
    z-index: 2;    
}

.aboutPageBox .back {
    z-index: 1; 
    transform: rotateX(-180deg);
}

.aboutPageBox .panel:hover .front {
    z-index: 1;
    transform: rotateX(180deg);
}

.aboutPageBox .panel:hover .back {
    z-index: 2;   
    transform: rotateX(0deg);
}
.aboutPageBox .aboutMeText,.aboutPageBox .panel-body{
     font-size: 1.5em;
     line-height: 1.5em;
     font-family: 'Just Another Hand', cursive;
     text-align: left;
     letter-spacing: 0.25ex;
     overflow-x:hidden;
     overflow-y: auto;
 }
 .aboutPageBox .aboutMeText{
    display: flex;
    position: relative;
    justify-content: center; 
    text-align: left;
    align-items: center;
 }
.aboutPageBox .rightli a{
     color:white;
 }
 .aboutMeText a{
    color:white; 
    text-decoration:none;
 }
