* {
    box-sizing: border-box;
}
body, html{
    /* margin */
    margin: 0px;
    padding: 0px;
    height: 100%;
    width:100%;
}
.telugu{
    font-family: 'NTR', sans-serif;
}

#bodydiv{
    transition: opacity .5s ease-in-out;
    /* height: calc(100% - 60px); */
    height: 100%;
    width:100%;
    padding-top: 57px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
}